/* frontend/src/index.css */

/* Base */
html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  overflow-x: hidden;
  background: #fff;
  color: #111;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

/* Links: no heredar el azul Vite */
a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
